@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.navbar {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  height: 5rem;

}

.navbar ul {
  margin-right: 10rem;
  width: 40%;
  display: flex;
  list-style-type: none;
  list-style-position: inside;
  justify-content: space-between;
  gap: 20px;
}

.section {
  width: 100%;
  min-height: fit-content;
}

.hero {
  background-color: #495E57;
}

.justify-center {
  justify-content: center;

}

.gap-3vw {
  gap: 3vw;
}

.container {
  margin-left: 17vw;
  margin-right: 17vw;
  margin-top: 2rem;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.justify-between {
  justify-content: space-between;
}

.grid-cols {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 2rem;
  justify-content: center;
}

#header-img {
  margin-top: 3vw;
  width: 350px;
  height: 350px;
  border-radius: 10px;
}

.specials {
  align-items: center;
  margin-top: 5rem;
}

.text-color-primary {
  color: #F4CE14;
}

.text-color-white-secondary {
  color: #EDEFEE;
  text-align: justify;
}

.text-color-black {
  color: #000000;
}

.karla-regular {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.flex-item {
  padding-top: 2vh;
  padding-bottom: 4vh;
  max-width: 40%;
  justify-content: space-between;
}

.title {
  line-height: 0;
}

.subtitle {
  margin-top: -1.5rem;
}

.button {
  border-radius: 8px;
  background-color: #F4CE14;
  border: 0;
  padding: 0.4rem;
}

.overflow {
  overflow: visible;
  margin-bottom: -5vh;
}

.align-center {
  align-content: center;
}

.text-align-center {
  text-align: center;

}
.card {
  background-color: grey;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  height: 25rem;
}
.card-header{
  padding: 1rem 0 0 1rem;

}
.card-text{
  padding: 1rem;
  text-align: j;
}
.card img{
  border-radius: 1rem 1rem 0 0;
  max-width: 20rem;
}
.carousel {
  overflow-y: hidden;
  overflow-x: auto;
  text-align: left;
  flex-direction: row;
  display:flex;
  gap: 2rem;

}

.markazi-text-header {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 5rem;
}

@media (max-width:990px) {
  .markazi-text-header {
    font-size: 4rem;
  }

  .subtitle {
    margin-top: -0.5rem;
  }

  #header-img {
    margin-top: 3vw;
    width: 300px;
    height: 350px;
    border-radius: 10px;
  }

}

@media (max-width:724px) {
  .markazi-text-header {
    font-size: 3rem;
  }

  #header-img {
    display: none;
    margin-top: 3vw;
    width: 300px;
    height: 350px;
    border-radius: 10px;
  }
}

@media (max-width:724px) {
  .markazi-text-header {
    font-size: 2.5rem;
  }

}