@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.navbar{
  background-color: white;
  display: flex;

}
.section{
  width: 100%;
  margin-top: 3rem;

}
.hero{
  background-color: #495E57;
}
.justify-center{
  justify-content: center;

}
.gap-3vw{
  gap: 3vw;
}
.container{
  margin-left:17vw;
  margin-right:17vw;
  margin-top: 2rem;
}

.flex{
  display:flex;
}
.flex-row{
  flex-direction: row;
}
.justify-between{
  justify-content: space-between;
}
.grid-cols{
  display: grid;
  grid-template-columns: repeat(3,300px);
  gap: 2rem;
  justify-content: center;
}

#header-img{
  margin-top: 3vw;
  width:350px;
  height: 350px;
  border-radius: 10px;
}
.specials{
  align-items: center;
}
.text-color-primary{
  color:#F4CE14;
}
.text-color-white-secondary{
  color:#EDEFEE;
}
.text-color-black{
  color:#000000;
}
.markazi-text-header {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 64pt;
}
.karla-regular {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.flex-item{
  padding-top: 2vh;
  padding-bottom: 4vh;
  max-width: 40%;
  justify-content: space-between;
}
.title{
  line-height: 0;
}
.subtitle{
  margin-top: -1.5rem;
}

.button{
  border-radius: 8px;
  background-color:#F4CE14;
  border: 0;
  padding: 0.4rem;
}
.overflow{
  overflow: visible;
  margin-bottom: -5vh;
}
.align-center{
  align-content: center;
}
.text-align-center{
  text-align: center;

}

.card{
  background-color: grey;
  height: 25rem;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  
}